@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    color: #b3b3b3;
    background-color: #000000;

}

/* Title */

.section-title {
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
    margin-top: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 4rem;
    color: #ffffff;
}


.section-title span {
    position: relative;
    display: inline-block;
    z-index: 1;
    color: #ffffff;
}

.section-title span::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
    width: 100%;
    height: 15px;
    background: #acacac;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    z-index: -1;
    animation: underline-bounce 1.5s infinite;
}

@keyframes underline-bounce {
    0%,
    100% {
        transform: translateX(-50%) scaleX(1);
    }

    50% {
        transform: translateX(-50%) scaleX(1.1);
    }
}

.section-title span {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

/* About */

.about-me {
    padding: 80px 20px;
    font-family: 'Arial', sans-serif;
}

.about-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: all 0.3s ease;
    position: relative;
    gap: 60px;
}

.image-container {
    flex: 0 0 150px;
    margin-right: 40px;
    transform: translateY(60px);
    opacity: 0;
    animation: fadeIn 1.2s ease-in-out forwards, slideUp 1s ease-out forwards;
}

.profile-image {
    width: 400px;
    height: 6   00px;
    animation: bounce 1.5s ease infinite;
}


.about-subtitle {
    font-size: 1.2em;
    margin-bottom: 20px;
    font-weight: 600;
}

.info-cards {
    display: flex;
    flex-wrap: wrap;  
    gap: 20px;
}

.card {
    padding-top: 20px;
    border-radius: 10px;
    width: 300px;
    min-width: 100px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.card h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    display: flex;
    gap: 5px;
}

.card p {
    font-size: 14px;
}

.card:hover {
    transform: scale(1.05);
}

.about-header {
    text-align: center;
    margin-bottom: 30px;
}

.about-header h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
    font-weight: 700;
    letter-spacing: 1px;
}


.about-footer {
    margin-top: 40px;
}

.about-footer p {
    font-size: 1.2em;
    color: #ffffff;
    margin-bottom: 20px;
    font-weight: 600;
}

.link-container {
    display: flex;
    gap: 15px;
}

.link {
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;
    margin-right: 2px;
    font-size: 40px;
}

.link:hover i {
    transform: scale(1.5);
    transition: transform 0.3s ease;
}

.miracle-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    padding: 40px 0;
    
}
.subtitle{
    text-align: center;
}

.miracle-item {
    background-color: #ffffff;
    box-shadow: 0 1px 6px rgba(255, 255, 255, 0.4);
    border-radius: 12px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.miracle-item:hover {
    transform: translateY(-5px);
}

.miracle-item img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.miracle-caption {
    padding: 20px;
    text-align: left;
}

.miracle-caption h3 {
    margin-bottom: 10px;
    color: #ffffff;
    font-size: 1.3rem;
}

.miracle-caption p {
    font-size: 1rem;
}
  

@keyframes rotate {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }

}


/* Project Section */
.projects {
    text-align: center;
    padding: 40px 20px;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.project-card {
    padding: 20px;
    border-radius: 12px;
    width: 400px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

.project-card:hover {
    transform: translateY(-5px);
}

.project {
    width: 400px;
    height: 300px;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.project-card img:hover {
    transform: scale(1.05);
}

.project-title {
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
    color: #fff;
}

.project-description {
    font-size: 14px;
    margin: 10px 0;
}

.project-tech {
    background: #444;
    color: #fff;
    padding: 5px 10px;
    border-radius: 12px;
    display: inline-block;
    margin-top: 10px;
    font-size: 14px;
}

.calendar-section {
    padding: 60px 20px;
    max-width: 800px;
    margin: auto;
    text-align: center;
  }
  
  .calendar-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 40px;
    background-color: #fff;
    box-shadow: 0 6px 16px rgba(255, 255, 255, 0.4);
    border-radius: 12px;
    overflow: hidden;
  }
  
  .calendar-table th, .calendar-table td {
    padding: 16px 20px;
    border-bottom: 1px solid #eaeaea;
    text-align: left;
    font-size: 1rem;
  }
  
  .calendar-table th {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 1.1rem;
    text-align: left;
  }
  
  .calendar-table tr:last-child td {
    border-bottom: none;
  }
  
  @media (max-width: 600px) {
    .calendar-table th, .calendar-table td {
      font-size: 0.95rem;
      padding: 12px 10px;
    }
  }

  .spotify-section {
    padding: 60px 20px;
    max-width: 800px;
    margin: auto;
    text-align: center;
  }
  
  .spotify-embed {
    margin-top: 30px;
  }

/* Estilo da Seção de Inscrição */
.subscribe-section {
    padding: 60px 20px;
    text-align: center;
}

.subscribe-container {
    max-width: 600px;
    margin: 0 auto;
}

.subscribe-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;
}

.input-group input {
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #333;
    background-color: #1e1e1e;
    color: #fff;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
}

.input-group input:focus {
    border-color: #4c4c4c; 
}

#btn-submit {
    padding: 15px;
    border-radius: 8px;
    border: none;
    background-color: #fff;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.3s;
}

#btn-submit:hover {
    background-color: #fff;
    transform: scale(1.02);
}

  .declaration-section {
    padding: 60px 10px;
    max-width: 1200px;
    margin: auto;
  }
  
  .declaration-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
    justify-content: space-between;
  }
  
  .text-block {
    flex: 1;
    font-size: 1.1rem;
    line-height: 1.8;
  }
  
  .image-block {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
  
  .portrait {
    margin-top: 30px;
    max-width: 100%;
    width: 100%;
    height: auto;
    border-radius: 16px;
  }
  
  .social-links {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  
  .social-links a {
    font-size: 2.0rem;
    transition: color 0.3s ease, transform 0.3s ease;
  }
  
  .social-links a:hover {
    transform: scale(1.25);
  }
  

  @media (max-width: 768px) {
    .declaration-content {
      flex-direction: column-reverse;
      text-align: center;
    }
  
  }

/* Responsividade */


@media (max-width: 768px) {

    .btt-container {
        align-items: center; 
    }

    .btn {
        width: 90%; 
        text-align: center;
    }
    .section-title {
        font-size: 2rem; 
        margin-top: 15px;
    }
    .section-title span::after {
        height: 10px; 
        bottom: -6px; 
    }
    .about-container {
        flex-direction: column;
        padding: 5px;
    }
    .info-cards {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
    }

    .project {
        width: 100%;
        max-width: 500px;
        height: 200px;
    }

    .contact-icons {
        position: static; 
        flex-direction: row; 
        justify-content: center; 
        margin-top: 20px; 
    }

    .follow-title {
        text-align: center;
        margin-right: 0; 
    }

}

@media (max-width: 480px) {

    .hero {
        height: 100vh;
    }
    .hero-content {
        bottom: 5%;
        left: 5%;
        max-width: 90%;
    }
    .hero-content h1 {
        font-size: 2.5rem;
    }
    .hero-content h2 {
        font-size: 1.3rem;
    }
    .hero-content p {
        font-size: 1rem;
    }

}

/* Animação */

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}
